.chat{
	min-height: 300px;
    max-height: 300px;
    overflow-y:scroll;     
}


.userimage {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}